# Environment Variables
# Copy this file to .env.local and fill in your values

# Resend API Key (get one from https://resend.com)
# RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxx

# Contact Form Email (where messages will be sent)
# CONTACT_EMAIL=deemanthadeshith@gmail.com

# Site URL (for metadata and SEO)
NEXT_PUBLIC_SITE_URL=https://deshith-deemantha.vercel.app

# Google Search Console Verification Code
GOOGLE_VERIFICATION_CODE=L6qegcjmde_AXEp1EP1WUah6nEhlYx2qIzFZ9iSIKS4
